/* clock */
#clock{
    position: fixed;
    top: 0px;
    color: #671705;
    background: #FFFFFF;
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 2px solid #cccccc;
    margin: 30px auto auto 10px;
}

.contents{
    position: fixed;
    top: 100px;
    color: #671705;
    background: rgb(255, 255, 255, 0);
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(204, 204, 204, 0);
    margin-left: 10px;
}

.contents li:hover{
    padding:10px 10px;
    font-size: 150%;
}

#talk{
    position: fixed;
    top: 420px;
    color: #671705;
    text-align: center;
    margin-left: 50px;
}

#clock_time{
    font-size: 200%;
}