@charset "UTF-8";

body{
    background: #D2EFFA;
}


#top{
    color: #671705;
    background: #FFFFFF;
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 2px solid #cccccc;
    margin: 30px auto;
}

.last{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.last img{
    position: absolute;
    right: 0;
    bottom: 0;
}