@charset "UTF-8";

body{
    background: #D2EFFA;
    margin: auto 0px 0px 0px;
}

/* header */

header{
    text-align:left;
}

/* a */

a{
    text-decoration:none;
}

/* 他のサイトに飛ぶボタン */

div.other-site {
    position:absolute;
    top:170px;
    left: 50%;
    width: 300px;
    height:40px;
    text-align:center;
    transform: translate(-50%,-50%);
}
div.other-site a{
    display:inline-block;
    margin:2px 3px 0;
    padding:6px 10px;
    border-radius:6px;
    font-size:16px;
    font-family: Tahoma;
    font-weight: bold;
    color:#333;
    text-decoration:none;
    transition-duration:300ms;
}
div.other-site a:hover{
    padding:10px 10px;
    background : #7673ff ;
}

/* article */

#top, article{
    position: relative;
    background: #FFFFFF;
    color: #671705;
    width: 340px;
    padding: 10px;
    text-align: center;
    border: 2px solid #cccccc;
    margin: 30px auto;
}

#top{
    margin-bottom: 50px;
}

/* table */

table{
    width: 300px;
}
td{
    text-align: center;
    padding: 0.5em;
}

/* li */
li{
    text-align: left;
}




/* 上に行くボタン */

.last{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.last img{
    position: absolute;
    right: 0;
    bottom: 0;
}


footer{
    position: static;
    /* text-align: center; */
    background: #6e94e7;
    color: #671705;
}

#banner{
    text-align: right;
}